<div class="container-fluid">
    <div class="row">
    <div class="col">
        <h2>Product Details</h2>
        <div class="form-switch">
            <input type="checkbox" class="form-check-input" ngModel #toggleDescription="ngModel">View description
        </div>
        <dl>
            <dt>Title</dt>
            <dd>{{Product.title}}</dd>
            <dt>Price</dt>
            <dd>{{Product.price}}</dd>
            <dt>Preview</dt>
            <img [src]="Product.image" width="200" height="200" />
            <dt>Rating</dt>
            <dd><span class="bi bi-star-fill text-success">{{Product.rating.rate}} - [{{Product.rating.count}}]</span>
            </dd>
        </dl>
        <button class="btn btn-success me-2" (click)="prevClick()">
            <span class="bi bi-chevron-left"></span>
        </button>
        <button class="btn btn-success" (click)="NextClick()">
            <span class="bi bi-chevron-right"></span>
        </button>
    </div>
    <div class="col mt-4">
         <!-- <div class="description" style="display: none;"> -->
    <!-- <div class="description" *ngIf="toggleDescription.value">
        <textarea rows="30" cols="40" disabled>
            {{Product.description}}
        </textarea>
    </div> -->
        <div *ngIf="toggleDescription.value; then details else alternative"></div>
        <ng-template class="description" #details>
            <div>
                <textarea rows="4" cols="40" disabled>
                {{Product.description}}
            </textarea>
            </div>
        </ng-template>
        <div>
            <ng-template #alternative>
                <i>Description Here...</i>
            </ng-template>
        </div>
    </div>
</div>
</div>