<!-- <div class="container-fluid">
    <h3>Hello! <span>{{username}}</span></h3>

    <h2>One way binding</h2>
    <input type="text" value="{{username}}">
    <p>Hello! <span>{{username}}</span></p>

    <h2>Interpolation</h2>
    <dl>
        <dt>Stock</dt>
        <dd>
            <input type="checkbox" checked="{{Stock}}"> Available 
        </dd>
    </dl>

    <h2>Property Binding</h2>
    <dl>
        <dt>Stock</dt>
        <dd>
            <input type="checkbox" [checked]="Stock"> {{Stock? "Available": "Out of Stock"}}
        </dd>
        <dt>Name</dt>
        <dd><input type="text" [value]="username"></dd> 
    </dl>

    <h2>Attribute Binding</h2>
    <table border="1" [width]="tWidth" [attr.height]="tHeight">
        <tr>
            <td>Name</td>
        </tr>
    </table>
    <br/>
    <div class="container-fluid">
        <h2>Two way Binding</h2>
        Username: <input type="text" [(ngModel)]="username">
        <h4>Hello! {{username}}</h4>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h2>Register Product</h2>
            <dl>
                <dt>Name</dt>
                <dd><input type="text" class="form-control" [(ngModel)]="Product.Name"></dd>
                <dt>Price</dt>
                <dd><input type="text" class="form-control" [(ngModel)]="Product.Price"></dd>
                <dt>Stock</dt>
                <dd class="form-switch"><input type="checkbox" class="form-check-input" [(ngModel)]="Product.Stock"> Available</dd>
                <dt>Shipped To</dt>
                <dd>
                    <select class="form-select" [(ngModel)]="Product.ShippedTo">
                    <option>Delhi</option>
                    <option>Hyd</option>
                    </select>
                </dd>
            </dl>
            <button class="btn btn-primary w-100" (click)="RegisterClick()">Register</button>
        </div>
        <div class="col-9">
            <h2>Details</h2>
            <dl>
                <dt>Name</dt>
                <dd [innerText]="UpdatedProduct.Name"></dd>
                <dt>Price</dt>
                <dd>{{UpdatedProduct.Price}}</dd>
                <dt>Stock</dt>
                <dd>{{UpdatedProduct.Stock ? 'Available': "Out of Stock"}}</dd>
                <dt>Shipped To</dt>
                <dd>{{UpdatedProduct.ShippedTo}}</dd>
            </dl>
        </div>
    </div>
</div>