nav div {
    border: 2px solid blue;
    margin-bottom: 20px;
    padding: 5px;
    width: 65px;
    height: 65px;
}

nav {
    border: 1px solid black;
    width: 85px;
    padding: 10px;
}

nav div:hover {
    cursor: grab;
}