<div class="container-fluid" (mousemove)="MouseMove($event)">
    <h2>Event Binding</h2>
    <button id="btnInsert" value="Insert" name="InsertButton" class="btn btn-primary" (click)="InsertClick($event)">Insert</button>

    <button id="btnInsert" value="Insert" name="InsertButton" class="btn btn-primary" (click)="InsertClicked($event, 'Record Inserted')">Insert</button>

<hr>
    <h2>Shoe</h2>
    <img width="200" height="100" [src]="img_src">
    <div>
        <div class="btn-group">
            <button (mouseover)="setColor('red')" name="red" class="text-white" style="background-color: red">Red</button>
            <button (mouseover)="setColor('black')" name="black" class="text-white" style="background-color: black">Black</button>
            <button (mouseover)="setColor('yellow')"name="yellow" class="text-white" style="background-color: yellow">Yellow</button>
        </div>
    </div>

    <div style="height: 1000px;"></div>
    <img src="assets/pic.jpg" width="50" height="50" [ngStyle]="styleObject">
</div>