.bg-style {
    background-color: yellow;
}

.text-style {
    color: red;
    text-align: center;
    padding: 10px;
}

.border-style {
    border: 1px solid red;
}

.dark-theme {
    background-color: black;
    color: white;
}