<div class="container-fluid">
    <header class="bg-dark text-white p-1 text-center">
        <h2><span class="bi bi-cart3"></span> Online Shopping</h2>
    </header>
    <section class="row">
        <nav class="col-3">
        <app-filter [AllCount]="AllCount" [ElectronicsCount]="ElectronicsCount" [JeweleryCount]="JeweleryCount"
        [MensClothingCount]="MensClothingCount" [WomensClothingCount]="WomensClothingCount" (CategoryChanged)="GetCategoryName($event)"></app-filter>
        </nav>
        <main class="col-9 d-flex flex-wrap overflow-auto" style="height: 500px;">
            <div *ngFor="let item of Products" class="card m-2 p-2" style="width: 200px;">
                <img [src]="item.image" class="card-img-top" height="150px"> 
                <div class="card-header" style="height: 150px;">
                    <p>{{item.title}}</p>
                </div>
            </div>
        </main>
    </section>
</div>