<div class="container-fluid">
    <div class="mt-4 row">
        <div class="col">
            <ol>
                <li *ngFor="let item of Categories">
                    {{item}}
                </li>
            </ol>
        </div>
        <div class="col">
            <select>
                <option *ngFor="let item of Categories">{{item}}</option>
            </select>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li *ngFor="let item of Categories"><input type="checkbox">{{item}}</li>
            </ul>
        </div>
        <div class="col">
            <div class="btn-group-vertical">
                <button class="btn btn-primary mb-2" *ngFor="let item of Categories">
                    {{item}}
                </button>
            </div>
        </div>
        <div class="col">
            <div *ngFor="let item of Categories">
                <a href="#">
                    {{item}}
                </a>
            </div>
        </div>
        <div class="col">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>
                            Categories
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Categories">
                       <td>{{item}}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="mt-4 row">
        <div class="col">
            <ol>
                <li *ngFor="let item of Menu">
                {{item.Category}}
                    <ul>
                        <li *ngFor="let product of item.Products">{{product}}</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="col">
            <select>
                <optgroup *ngFor="let item of Menu" [label]="item.Category">
                    <option *ngFor="let product of item.Products">
                        {{product}}
                    </option>
                </optgroup>
            </select>
        </div>
        <div class="col">
            <details *ngFor="let item of Menu">
                <summary>{{item.Category}}</summary>
                <ul>
                    <li *ngFor="let product of item.Products">{{product}}</li>
                </ul>
            </details>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Products">
                    <td>{{item.Name}}</td>
                    <td>{{item.Price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr/>
<div class="container-fluid">
    <div class="mt-4">
        <img *ngFor="let item of fakeStoreProducts" [src]="item.image" width="100" height="100" class="img-thumbnail m-3">
    </div>
</div>
