<div class="container-fluid">
    <div class="mt-4 row">
        <div class="col">
            <ol>
                <li *ngFor="let item of Categories">
                    {{item}}
                </li>
            </ol>
        </div>
        <div class="col">
            <select>
                <option *ngFor="let item of Categories">{{item}}</option>
            </select>
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li *ngFor="let item of Categories"><input type="checkbox">{{item}}</li>
            </ul>
        </div>
        <div class="col">
            <div class="btn-group-vertical">
                <button class="btn btn-primary mb-2" *ngFor="let item of Categories">
                    {{item}}
                </button>
            </div>
        </div>
        <div class="col">
            <div *ngFor="let item of Categories">
                <a href="#">
                    {{item}}
                </a>
            </div>
        </div>
        <div class="col">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>
                            Categories
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Categories">
                       <td>{{item}}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="mt-4 row">
        <div class="col">
            <ol>
                <li *ngFor="let item of Menu">
                {{item.Category}}
                    <ul>
                        <li *ngFor="let product of item.Products">{{product}}</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="col">
            <select>
                <optgroup *ngFor="let item of Menu" [label]="item.Category">
                    <option *ngFor="let product of item.Products">
                        {{product}}
                    </option>
                </optgroup>
            </select>
        </div>
        <div class="col">
            <details *ngFor="let item of Menu">
                <summary>{{item.Category}}</summary>
                <ul>
                    <li *ngFor="let product of item.Products">{{product}}</li>
                </ul>
            </details>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Products">
                    <td>{{item.Name}}</td>
                    <td>{{item.Price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr/>
<h2>Index</h2>
<div class="container-fluid">
    <div class="mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>Index</th>
                    <th>First</th>
                    <th>Last</th>
                    <th>Even</th>
                    <th>Odd</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of fakeStoreProducts;let i = index; let f = first; let l =last; let e = even; let o = odd"
                [class.even]="e" [class.odd]="o">
                    <td><img [src]="item.image" width="100" height="100" class="img-thumbnail m-3"></td>
                    <td>{{i}}</td>
                    <td>{{f}}</td>
                    <td>{{l}}</td>
                    <td>{{e}}</td>
                    <td>{{o}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<h2>TrackBy</h2>
<div class="container-fluid">
    <div class="mt-4">
        <div class="mb-2">
            <button (click)="UpdateClick()" class="btn btn-primary">Update</button>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Products; trackBy: TrackChanges">
                    <td>{{item.Name}}</td>
                    <td>{{item.Price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr/>
<h2>Mars Rover</h2>
<div class="container-fluid">
    <div class="mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Photo Id</th>
                    <th>Preview</th>
                    <th>Camera</th>
                    <th>Rover</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of MarsObject.photos">
                    <td>{{item.id}}</td>
                    <td>
                        <a [href]="item.img_src" target="_blank">
                            <img [src]="item.img_src" height="100" width="100">
                        </a>
                    </td>
                    <td>{{item.camera.full_name}}</td>
                    <td>{{item.rover.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr/>
<hr/>
<h2>Mars Rover</h2>
<div class="container-fluid">
    <div class="mt-4 d-flex flex-wrap">
        <div *ngFor="let item of MarsObject.photos" class="card p-2 m-2" style="width: 200px;">
            <img [src]="item.img_src" height="180" width="100" class="card-img-top">
            <div class="card-header">
                <h3>{{item.id}}</h3>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Camera Name</dt>
                    <dd>{{item.camera.full_name}}</dd>
                    <dt>Rover Name</dt>
                    <dd>{{item.rover.name}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<hr/>
